 /**
  * =====================================
  * Variables
  * =====================================
  * Main File for Variables used in sass
  * =====================================
  */

 /**
  * =====================================
  * Fonts
  * =====================================
  */

  $main-font      : "BrownStd";

 /**
  * =====================================
  * Color Palettes
  * =====================================
  */

  $main-color : #7eb246;
  $secondary-color : black;

 /**
  * =====================================
  * Assets Paths
  * =====================================
  */

  $path-image   :   '../images';
  $path-fonts     :  '../fonts';